<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Analytics Dashboard</title>
    <meta name="description"
          content="Get data-driven insights on job market trends, salary benchmarks, and skill requirements to boost your career.">
    <link rel="icon" href="static/img/logo.jpg" type="image/jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/parser__.css?v=1.0.1">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<header>
    <div class="container">
        <nav>
            <a href="/" class="logo">
                <img src="/static/img/logo.jpg" alt="Vanacy Hub Logo" loading="lazy">
                <span>Vacancy Hub</span>
            </a>
            <ul class="nav-links">
                <li><a class="nav-item-links" href="/">Home</a></li>
                <li><a class="nav-item-links" href="/features">Features</a></li>
                <li><a class="nav-item-links" href="/about">About Us</a></li>
                <li><a class="nav-item-links" href="/privacy">Privacy Policy</a></li>
                <li>
                    <a href="{% if is_authenticated %}/auth/logout/confirm{% else %}/auth/login{% endif %}"
                       class="auth-btn {% if is_authenticated %}logout-btn{% else %}login-btn{% endif %}">
                        {% if is_authenticated %}Logout{% else %}Login{% endif %}
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>


<main class="main-content">
    <div class="container">
<br><br><br><br><br><br><br>

        <section class="search-section">



            <h1 class="search-title">Job Market Vacancy Analysis</h1>
            <form class="search-container" action="/parse?{{url_query}}" method="post">
                <input type="text" class="search-input" name="query"
                       placeholder="Enter keywords, position or company..." required>
                <button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> Search</button>
            </form>

            <div class="filter-toggle" id="filterToggle">
                <i class="fas fa-sliders-h"></i>
                <span>Search Filters</span>
            </div>

            <div class="filter-section" id="filterSection">
                <form class="filter-grid" id="filterForm" method="get">
                    <div class="filter-group">
                        <label class="filter-label">Experience</label>
                        <select class="filter-select" name="experience" id="experience">
                            <option value="None" {% if experience=='None' %}selected{% endif %}>Any</option>
                            <option value="noexperience" {% if experience=='noexperience' %}selected{% endif %}>No experience</option>
                            <option value="2plus" {% if experience=='2plus' %}selected{% endif %}>2+ years</option>
                            <option value="5plus" {% if experience=='5plus' %}selected{% endif %}>5+ years</option>
                        </select>

                    </div>

                    <div class="filter-group">
                        <label class="filter-label" for="location">Location</label>
                        <select class="filter-input" name="location" id="location">
                            <option value="Any" {% if location =="Any" %}selected{% endif %}>Any</option>
                            <option value="Дистанційно" {% if location =="Дистанційно" %}selected{% endif %}>Дистанційно</option>
                            <option value="Київ" {% if location =="Київ" %}selected{% endif %}>Київ</option>
                            <option value="Харків" {% if location =="Харків" %}selected{% endif %}>Харків</option>
                            <option value="Одеса" {% if location =="Одеса" %}selected{% endif %}>Одеса</option>
                            <option value="Дніпро" {% if location =="Дніпро" %}selected{% endif %}>Дніпро</option>
                            <option value="Львів" {% if location =="Львів" %}selected{% endif %}>Львів</option>
                            <option value="Запоріжжя" {% if location =="Запоріжжя" %}selected{% endif %}>Запоріжжя</option>
                            <option value="Кривий Ріг" {% if location =="Кривий-Ріг" %}selected{% endif %}>Кривий Ріг</option>
                            <option value="Миколаїв" {% if location =="Миколаїв" %}selected{% endif %}>Миколаїв</option>
                            <option value="Маріуполь" {% if location =="Маріуполь" %}selected{% endif %}>Маріуполь</option>
                            <option value="Вінниця" {% if location =="Вінниця" %}selected{% endif %}>Вінниця</option>
                            <option value="Херсон" {% if location =="Херсон" %}selected{% endif %}>Херсон</option>
                            <option value="Чернігів" {% if location =="Чернігів" %}selected{% endif %}>Чернігів</option>
                            <option value="Полтава" {% if location =="Полтава" %}selected{% endif %}>Полтава</option>
                            <option value="Черкаси" {% if location =="Черкаси" %}selected{% endif %}>Черкаси</option>
                            <option value="Суми" {% if location =="Суми" %}selected{% endif %}>Суми</option>
                            <option value="Житомир" {% if location =="Житомир" %}selected{% endif %}>Житомир</option>
                            <option value="Рівне" {% if location =="Рівне" %}selected{% endif %}>Рівне</option>
                            <option value="Івано-Франківськ" {% if location =="Івано-Франківськ" %}selected{% endif %}>Івано-Франківськ</option>
                            <option value="Тернопіль" {% if location =="Тернопіль" %}selected{% endif %}>Тернопіль</option>
                            <option value="Ужгород" {% if location =="Ужгород" %}selected{% endif %}>Ужгород</option>
                            <option value="Чернівці" {% if location =="Чернівці" %}selected{% endif %}>Чернівці</option>
                            <option value="Луцьк" {% if location =="Луцьк" %}selected{% endif %}>Луцьк</option>
                            <option value="Краматорськ" {% if location =="Краматорськ" %}selected{% endif %}>Краматорськ</option>
                            <option value="Слов’янськ" {% if location =="Слов’янськ" %}selected{% endif %}>Слов’янськ</option>
                        </select>
                    </div>


                    <div class="filter-group">
                        <label class="filter-label">Salary from</label>
                        <input type="number" class="filter-input" name="salary" placeholder="UAH" value="{{salary if salary else 0}}">
                    </div>

                    <div class="filter-group">
                        <label class="filter-label">Max pages</label>
                        <h6><p>Notice: by default value is 20 pages</p></h6>
                        <input type="number" class="filter-input" name="max_pages" placeholder="Max pages"
                               value="{{ max_pages if max_pages else 20 }}" min="1">
                    </div>
                </form>

                <button type="submit" form="filterForm" class="btn btn-primary apply-filters" formmethod="get">
                    <i class="fas fa-check"></i> Apply Filters
                </button>
            </div>
            <br><br><br>
        </section>
<br><br><br><br>



    </div>
</main>
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>Vanacy Hub</h3>
                <p>Vacancy analytics platform helping job seekers and recruiters make data-driven decisions.</p>
            </div>
            <div class="footer-column">
                <h3>Product</h3>
                <ul class="footer-links">
                    <li><a href="/features">Features</a></li>
                    <li><a href="/docs">API</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Legal</h3>
                <ul class="footer-links">
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                    <li><a href="/cookie">Cookie Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">
                &copy; 2025 Vanacy Hub. All rights reserved.
            </div>
        </div>
    </div>
</footer>
<script src="/static/js/filters.js"></script>

</body>
</html>
